:root {
    --bs-border-radius: 0;
    --bs-border-radius-sm: 0;
    --bs-border-radius-lg: 0;
    --bs-dark: #282828;
    --bs-dark-rgb: 40, 40, 40;
}

html,
body {
    height: 100%;
}

body {
    background: #ebebeb;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

#app {
    flex: 1 0 auto;
}

h1:not(.title-no-bg),
.h1:not(.title-no-bg) {
    color: #fff;
    background: #282828;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: 2rem;
}

.content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.card {
    box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.15);
}

.card-body {
    padding: 1.5rem;
}

.navbar {
    font-weight: 500;
    font-size: 1rem;
}

.navbar-brand img {
    max-height: 75px;
    max-width: 150px;
}

.navbar .navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;;
    text-transform: uppercase;
}

.home-background {
    height: 450px;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}
