html,
body {
    height: 100%;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

#app {
    flex: 1 0 auto;
}

footer {
    margin-top: auto;
    background: #282828;
}

.title-block {
    color: #fff;
    background: #282828;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

h1.title-block {
    font-size: 2rem;
}

.title-block,
.content,
.content-shadow {
    box-shadow: 0 0.3rem 0.75rem rgba(0, 0, 0, 0.15);
}

.content-parent,
.content {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.content-parent .content {
    margin: 0;
}

.content {
    background: #fff;
    padding: 25px;
}

.navbar {
    background: #282828;
    font-weight: 500;
    font-size: 1.0rem;
}

.navbar-brand {
    font-size: 2rem;
}

.navbar-brand img {
    max-height: 75px;
    max-width: 150px;
}

.navbar .navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;;
}

.home-background {
    height: 450px;
    overflow: hidden;
    background-size: cover;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
}

.home-background img {
    max-height: 400px;
}

.home-background .btn {
    border-radius: 0;
    padding: 10px 35px;
}

.post-preview {
    position: relative;
}

.post-preview .post-img {
    border-radius: 5px;
}

.post-preview .post-body {
    padding: 10px;
    color: #fff;
    background: #232323;
    border-radius: 5px;
}

.post-preview .post-img ~ .post-body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: rgba(0, 0, 0, 0.5);
}

.post-preview .card-title {
    color: inherit;
}

.post-preview {
    border-radius: 0;
}

.post-preview .card-img-top {
    border-radius: 0;
}

.discord-widget {
    border: none;
    width: 100%;
}
